.imagen{
    background-color: transparent;
    width: 90%;
    height: auto;
    margin: 0%; 
    padding: 0%;
}

.botones{
    margin: 0%;
    padding: 0%;
    height: 4rem;
    top: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    position: relative;
    left: 15%;
    z-index: 10;
}

a{
    margin: 0%;
    padding: 0%;
    background-color: transparent;
    width: 15%;
    height: 100%;
    transition: 0.2s all;
}

a:hover{
    position: relative;
    width: 16%;
    height: 105%;
    border: none;
    cursor: pointer;
}