.imagen{
    background-color: transparent;
    width: 90%;
    height: auto;
    margin: 0%; 
    padding: 0%;
}

.botones{
    margin: 0%;
    padding: 0%;
    height: 4rem;
    top: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    position: relative;
    left: 15%;
    z-index: 10;
}

.botones a{
    margin: 0%;
    padding: 0%;
    background-color: transparent;
    width: 15%;
    height: 100%;
    transition: 0.2s all;
  text-decoration: inherit;

}

.botones a:hover{
    position: relative;
    width: 16%;
    height: 105%;
    border: none;
    cursor: pointer;
}

.botonHome{
    position: fixed;
    top: 10px;
    left: 10px;
    color: #7968bb49;
    background-color: transparent;
    border: none;
    outline: none;
    transition: 0.3s;
}

.botonHome:hover{
    color: #7968bb !important;
    cursor: pointer;
}

svg {
    width: 40px;
    height: 40px;
    overflow: hidden;

}

/* Responsive styles for mobile and tablets */
@media (max-width: 768px) {
  .botones {
    height: 3rem;
    top: 4rem;
    width: 80%;
    left: 10%;
  }

  .botones a {
    width: 18%;
  }

  .botones a:hover {
    width: 20%;
    height: 110%;
  }

  .botonHome {
    top: 5px;
    left: 5px;
  }

  svg {
    width: 30px;
    height: 30px;
  }
}